{% extends 'HomeApp/home.html' %}

{% load static %}

{% block content %}
    <section class="container pt-5 pb-sm-3 mt-5 mb-2 mb-md-3 mb-lg-4 mb-xxl-5">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Portfolio list v.2</li>
            </ol>
        </nav>

        <!-- Page title -->
        <h1 class="pb-3">Sféry v ktorých mám pôsobnosť</h1>

        {% for project in projects %}
            <!-- Item -->
            <div class="row align-items-center pt-xl-2 pb-5 mb-lg-2 mb-xl-3 mb-xxl-4">
                <div class="col-md-7 col-lg-6 mb-4 mb-md-0">
                    <a class="d-block position-relative" href="">
                        <div class="bg-info rounded-5 position-absolute top-0 start-0 w-100 h-100" data-aos="zoom-in"
                             data-aos-duration="600" data-aos-offset="250"></div>
                        <img class="d-block position-relative z-2 mx-auto" src="{{ project.project_icon.url}}"
                             width="636" alt="Image" data-aos="fade-in" data-aos-duration="400" data-aos-offset="250">
                    </a>
                </div>
                <div class="col-md-5 col-xl-4 offset-lg-1" data-aos="fade-up" data-aos-duration="400" data-aos-offset="170">
                    <div class="ps-md-3 ps-lg-0">
                        <h2 class="h4">{{ project }}</h2>
                        <p class="fs-sm pb-3 pb-lg-4 mb-3">{{project.project_description}}</p>
                        <a class="btn btn-sm btn-outline-dark rounded-pill" href="portfolio-single-v1.html">Read the full
                            story</a>
                        <div class="d-flex align-items-center pt-2 pt-lg-3 mt-3">
                            <h6 class="text-body mb-0 me-3">Technológie:</h6>
                            {% for detail in project.project_details.all %}
                                {% for technology in detail.technologies.all%}
                                    <img class="d-block d-dark-mode-none me-4" src="{{ technology.technology_image.url }}"
                                      style="height: 48px; width: 80px;" alt="{{technology.technology_name}}">
                                {% endfor%}
                            {% endfor%}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </section>
{% endblock %}