{% extends 'HomeApp/home.html' %}

{% load static %}

{% block content %}
    <section class="container overflow-hidden py-5 mt-5 mb-2 mb-md-3 mb-lg-4 mb-xxl-5">

        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
            <ol class="pt-lg-3 pb-lg-4 pb-2 breadcrumb">
                <li class="breadcrumb-item"><a href="">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Projekty</li>
            </ol>
        </nav>

        <!-- Page title -->
        <h1 class="text-center pb-2 pb-md-3 pb-lg-4">Projekty</h1>

        <div class="masonry-filterable">

            <!-- Filters -->
            <ul class="masonry-filters nav nav-pills fs-sm flex-nowrap overflow-auto text-nowrap w-100 mx-auto pb-4 mb-2 mb-sm-3"
                style="max-width: 590px;">
                <li class="nav-item mb-0">
                    <a class="nav-link border active" href="#" data-group="all">All</a>
                </li>
                {% for  customer in customers%}
                    <li class="nav-item mb-0">
                        <a class="nav-link border" href="#" data-group="{{customer.id}}">{{customer}}</a>
                    </li>
                {% empty %}
                    <li class="nav-item mb-0">
                        <a class="nav-link border disabled" href="#">No customers available</a>
                    </li>
                {% endfor %}
            </ul>

            <!-- Grid of portfolio items -->
            <div class="masonry-grid" data-columns="2">
                {% for project in projects %}
                <!-- Item -->
                <article class="masonry-grid-item pb-lg-5 mb-3 mb-lg-0 mb-xl-2" data-groups='["{{project.customers.id}}"]'>
                    <div class="card-hover zoom-effect mx-auto" style="max-width: 620px;">
                        <div class="zoom-effect-wrapper rounded-5">
                            <div class="zoom-effect-img">
                                <img src="{{project.project_image.url}}" alt="Image">
                            </div>
                        </div>
                        <div class="pt-4 mt-lg-2">
                            <h2 class="h5 mb-2">
                                <a class="stretched-link text-nav" href="/projekty/{{project.id}}">{{project}}</a>
                            </h2>
                            <span class="fs-sm text-body-secondary opacity-0 d-none d-sm-block">{{project.customers}}</span>
                            <span class="fs-sm text-body-secondary d-sm-none">{{project.customers}</span>
                        </div>
                    </div>
                </article>
                {% empty %}
                <p>No projects available</p>

                {% endfor %}
            </div>
        </div>


        <!-- Pagination -->
        <nav class="mt-n1 mb-md-2 mb-lg-3 mb-xl-4" aria-label="Portfolio pagination">
            <ul class="pagination justify-content-center">
                <li class="page-item active" aria-current="page">
                    <span class="page-link">1<span class="visually-hidden">(current)</span></span>
                </li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
            </ul>
        </nav>
    </section>

        <!-- Vendor scripts: JS libraries and plugins -->
    <script src="{% static 'HomeApp/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'HomeApp/assets/vendor/shufflejs/dist/shuffle.min.js' %}"></script>
{% endblock %}